<?xml version="1.0"?>
<!--
/* Magedelight
 * Copyright (C) 2016 Magedelight <info@magedelight.com>
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category Magedelight
 * @package Magedelight_Megamenu
 * @copyright Copyright (c) 2016 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magedelight_Arp::rule_content" title="Advance Product Related" translate="title" sortOrder="10">
                    <resource id="Magedelight_Arp::productrule" title="Product Rule" translate="title" sortOrder="10">
                        <resource id="Magedelight_Arp::save" title="Save Rule" translate="title" sortOrder="10" />
                        <resource id="Magedelight_Arp::delete" title="Delete Rule" translate="title" sortOrder="20" />
                    </resource>
                    <resource id="Magedelight_Arp::configuration" title="Configuration" translate="title" sortOrder="30" />
                </resource>                    
                
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magedelight_Arp::config_arp" title="Arp Settings" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>            
        </resources>
    </acl>
</config>