<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <arp_products>
            <general>
                <enabled_arp>1</enabled_arp>
            </general>
            <productpage>
                <quickview>1</quickview>
                <pagetop>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </pagetop>
                <pagebottom>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </pagebottom>
                <beforenative>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </beforenative>
                <afternative>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </afternative>
                <native>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </native>
                <sidebartop>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>2</slidesToShow>
                    <slidesToScroll>1</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </sidebartop>
                <sidebarbottom>
                   <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>2</slidesToShow>
                    <slidesToScroll>1</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </sidebarbottom>
            </productpage>
            <categorypage>
                <quickview>1</quickview>
                <pagetop>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </pagetop>
                <pagebottom>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </pagebottom>
            </categorypage>
            <shoppingcart>
                <quickview>1</quickview>
                <pagetop>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </pagetop>
                <pagebottom>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </pagebottom>
                <beforenative>
                   <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </beforenative>
                <afternative>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </afternative>
                <native>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </native>
            </shoppingcart>
            <cmspage>
                <quickview>1</quickview>
                <pagetop>
                    <enabled>1</enabled>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </pagetop>
                <pagebottom>
                    <enabled>1</enabled>
                    <quickview>1</quickview>
                    <block_layout>2</block_layout>
                    <slidesToShow>4</slidesToShow>
                    <slidesToScroll>2</slidesToScroll>
                    <addtocartbutton>1</addtocartbutton>
                    <displaymaxproduct_grid>12</displaymaxproduct_grid>
                    <displaymaxproduct_slider>10</displaymaxproduct_slider>
                    <noOfColunm>4</noOfColunm>
                </pagebottom>
            </cmspage>
            <ordersuccesspage>
                <enabled>1</enabled>
                <block_layout>2</block_layout>
                <slidesToShow>4</slidesToShow>
                <slidesToScroll>2</slidesToScroll>
                <addtocartbutton>1</addtocartbutton>
                <displaymaxproduct_grid>12</displaymaxproduct_grid>
                <displaymaxproduct_slider>10</displaymaxproduct_slider>
                <noOfColunm>4</noOfColunm>
            </ordersuccesspage>
        </arp_products>
    </default>
</config>
