<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_render_before">
       <observer name="magedelight_arp_check_util" instance="Magedelight\Arp\Observer\Util" />
    </event>
    <event name="admin_system_config_changed_section_arp_products">
        <observer name="custom_admin_system_config_changed_section_arp_products" instance="Magedelight\Arp\Observer\Mdkc"/>
        <observer name="magedelight_arp_frd_track" instance="Magedelight\Arp\Observer\Mdfrd" />
    </event>
</config>
