<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Smtp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amsmtp>
            <general>
                <enable>0</enable>
                <log>0</log>
                <debug>0</debug>
                <disable_delivery>0</disable_delivery>
            </general>
            <smtp>
                <port>25</port>
            </smtp>
            <clear>
                <email>30</email>
                <debug>30</debug>
            </clear>
        </amsmtp>
    </default>
</config>